- @all_urls.each do |url|
    %p{:id => "line"} 
        %p URL: #{url.url} 
        -if url.custom
            %p CUSTOM: http://#{settings.address}/#{url.custom}
        %p ID: http://#{settings.address}/#{url.id} 
        